:root {
    --background-color-1: #7f0909;
    --bacground-color-2: #e4e3e3;
    @import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

}

* {
    margin: 3px;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--bacground-color-2);
   /* background-image: ; */
}

main {
    /*display: flex;*/
    
    flex-grow: 1;
}

header {
    padding: 2%;
    font-size: 25px;
    color: var(--bacground-color-2);
    font-family: 'Jolly Lodger', cursive;
    border-radius: 50%;
}

#output-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    border: 4px solid #7f0909;
    margin: 5% 15% 5% 15%;
}

img {
    display: flex;
    align-items: center;
    border-radius: 15%;
    height: 500px;
    margin-left: 30px;
  
}
#searchbar {
    text-align: center;
}

input {
    align-content: center;
    justify-content: center;
    size: 10px;
}

.outline {
    border-style: 10px solid var(--background-color-1);
}

.characters {
    border: 3px;
}

form {
    padding: 2%;
    align-items: center;
}


li {
    list-style: none;
    border-width: 1px;
    border-style: double;
    border: #7f0909;
    padding: 1px;
}

p {
    font-size: 25px;
}

header,
footer {
    background-color: var(--background-color-1);
    text-align: center;
    color: var(--bacground-color-2)
}
footer{
    height: 15%;
}